/* CSS de utilidades */
@import "./utilidades/colors.css";
@import "./utilidades/fonts.css";
@import "./utilidades/global.css";

.info-header {
  background: var(--cor-b-2);
  padding: 10px 30px;
}

.menu-bg {
  background: #17222d;
}

.menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 10px 30px;
  padding: 10px 0;
}

.menu-itens ul {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 10px;
  margin-right: 50px;
}

.menu-itens ul li::before {
  content: "";
  display: inline-block;
  background: transparent;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-right: 15px;
}

.matricula-home {
  height: 70vh;
}

.matricula-home-info h1 {
  margin-left: 50px;
}

.matricula-home-info {
  position: relative;
  margin-top: -150px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.matricula-home-info div {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: 50px;
  box-shadow: 0 5px 2px rgba(0, 0, 0, 0.3);
}

.matricula-home-info div input {
  width: 25vw;
  height: 50px;
  border-radius: 5px 0px 0 5px;
  border: none;
}

.matricula-home-info div input::placeholder {
  padding-left: 10px;
  font: 700 0.875rem/1.35 "Nunito", sans-serif;
  color: #bbccdd;
}

.matricula-home-info div a {
  width: 13vw;
  background: #ee2211;
  height: 52px;
  border: none;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.matricula-home-info div a::after {
  content: url("../img/seta.svg");
  display: inline-block;
  margin-left: 12px;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  margin-bottom: 70px;
}

.info img {
  border-radius: 5px;
}

.img-mapa {
  margin-top: -100px;
}

.img-mapa img,
#pranchas {
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
}

.info-imgs {
  margin-left: 50px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.info-imgs-local {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.cor-span-local {
  color: #17222d;
}

.info-imgs-local p:nth-child(1n + 2)::before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 10px;
  background: var(--cor-b-2);
  margin-right: 4px;
  margin-bottom: 4px;
}

.info-imgs-local p:first-child::before {
  content: "";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  border: 2px solid var(--cor-r-1);
  margin-right: 4px;
}

.info-textos {
  margin-left: 70px;
  max-width: 470px;
}

.info-textos h1 {
  margin-bottom: 70px;
}

.info-textos h1 span {
  color: var(--cor-b-2);
}

.info-textos-lista ul {
  margin-bottom: 30px;
}

.info-textos-lista ul li {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 20px 0;
  align-items: center;
  border-top: 2px solid var(--cor-w-1);
}

.info-textos-lista ul li:last-child {
  border-bottom: 2px solid var(--cor-w-1);
}

.info-textos-lista ul li span {
  color: var(--cor-g-4);
}

.info-textos-paragrafos p {
  color: var(--cor-g-4);
  margin-bottom: 20px;
}

.aulas-bg {
  background: var(--cor-w-1);
  box-shadow: inset 0 35px var(--cor-w-0);
}

.aulas:last-child {
  padding-bottom: 50px;
}

.aulas h1 {
  color: var(--cor-g-4);
  padding-top: 50px;
  padding-bottom: 50px;
}

.aulas-lista {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: space-around;
  margin-bottom: 30px;
}

.aulas-img-prancha {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-top: -20px;
}

.aulas-item {
  background-color: var(--cor-w-0);
  width: 370px;
  height: 434px;
  border-radius: 4px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.aulas-item h3 {
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--cor-w-1);
  max-width: 220px;
  text-transform: uppercase;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aulas-item-info {
  max-width: 220px;
  margin: 0 auto;
}

.tipo-aluno {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.aulas-item-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.aulas-item-info p::before {
  content: "";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  border: 2px solid var(--cor-r-1);
  margin-right: 4px;
}

.aulas-item-info span {
  border-top: 2px solid var(--cor-w-1);
  padding: 30px 0;
}

.aulas-item-info a {
  background-color: var(--cor-g-4);
  width: 220px;
  height: 40px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aulas-item-info a::after {
  content: url("../img/seta.svg");
  display: inline-block;
  margin-left: 12px;
}

.sublinhado {
  border-bottom: 2px solid var(--cor-r-1);
}
